@media only screen and (max-width: 100px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }



    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
        margin-top: 5%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }



    .borda1,
    .borda2 {
        width: 100%;
    }


    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .img-sobre {
        display: flex;
        width: 40%;
    }

    .img-sobre img {
        width: 300px;
    }

    .sobre {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 650px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar {
        position: relative;
    }

    .container {
        display: flex;
        width: 100%;
    }

    .title {
        margin-top: 10%;
    }

    .paragraph {
        width: 100%;
    }


    .services h2 {
        width: 80%;
        margin-top: 3%;
    }

    .services p {
        width: 70%;
    }

    .container-macro-services {
        display: flex;
        margin-top: 5%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .box-texto {
        width: 100%;
    }

    .container-texto p {
        width: 80%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 70%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
    }

    .container-texto2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;

    }

    .img-sobre {
        display: flex;
        width: 40%;
        margin-top: 5%;
    }

    .img-sobre img {
        width: 400px;
    }

    .sobre {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1024px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
    }

    .sobre {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }


    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
        flex-direction: column-reverse;
    }

    .sobre {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }



    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .img-sobre {
        display: flex;
        width: 40%;
        flex-direction: column-reverse;
    }

    .sobre {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 180px;
        height: 100vh;
        background-color: #67b79e;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        padding-top: 3rem;
    }

    .menu a {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
    }

    .menu-active {
        right: 0;
    }

    .menu-active .menu-icon {
        color: white;
    }
}