@media only screen and (max-width: 100px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }



    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .sobre-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        flex-wrap: wrap;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
    }

    .img-sobre img {
        width: 300px;
    }

    .sobre {
        display: flex;
        width: 80%;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .sobre-container {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        flex-wrap: wrap;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
    }

    .img-sobre img {
        width: 300px;
    }

    .sobre {
        display: flex;
        width: 80%;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .sobre-container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;

    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
    }

    .sobre {
        display: flex;
        width: 80%;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .sobre-container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;

    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
        flex-direction: column-reverse;
    }

    .sobre {
        display: flex;
        width: 80%;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
    }

    .container-macro-services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .viageminternacional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .imagens-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .destino-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 50%;
    }

    .viagemnacional {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .sobre-container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;

    }

    .borda1,
    .borda2 {
        width: 100%;
    }

    .sobre-box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
    }

    .img-sobre {
        display: flex;
        width: 40%;
        flex-direction: column-reverse;
    }

    .sobre {
        display: flex;
        width: 80%;
    }

    .container-macro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}